<div class="jumbotron">
<h1>Welcome to our store</h1>
<p>The largest online Digital Books Store</p>
<%= link_to "Books", "#", class: "btn btn-primary btn-block" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %>
<<<<<<< HEAD
</div>
=======
</div> 
>>>>>>> 8ff7c4f20552a1a11378317b176e86d04903da16
